<div style="margin-top: 1em; width: 12em">

    <form role="form">

        <div class="form-group">
            <label class="control-label" for="balanceAmount">Balance</label>

            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input class="form-control text-right" id="balanceAmount" type="number" ng-model="balance.balanceAmount">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="asOfDate">As Of</label>
            <input class="form-control" id="asOfDate" type="text" ng-model="balance.asOfDate">
        </div>

    </form>

</div>